.m-dishes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.m-dishes--heading {
  text-transform: capitalize;
  width: 100%;
}

.m-dishes--name {
  text-transform: capitalize;
  width: 100%;
}

.m-dishes--title {
  text-transform: capitalize;
  width: 100%;
}

.m-dishes--addition {
  text-transform: capitalize;
  width: 75%;
}

.m-dishes--addition,
.m-dishes--addition + div {
  margin-top: 0.5rem;
}

.m-dishes--checkbox {
  align-self: flex-end;
}

.m-dishes--checkbox > input[type="checkbox"] {
  cursor: pointer;
  height: 1.5rem;
  opacity: 0;
  position: absolute;
  width: 1.5rem;
  z-index: 10;
}

.m-checkbox--check {
  border-bottom: 15px solid black;
  border-left: 15px solid black;
  border-right: 15px solid black;
  border-top: 1px solid black;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  position: relative;
  transform: rotate(0deg);
  transition: 150ms ease;
  width: 1.5rem;
}

.m-checkbox--check::before {
  background-color: black;
  bottom: -18px;
  content: "";
  height: 4px;
  left: -22px;
  position: absolute;
  width: 2.85rem;
}

.m-checkbox--check::after {
  background-color: black;
  content: "";
  height: 4px;
  left: -2px;
  position: absolute;
  top: -5px;
  width: 5px;
}

.m-dishes--checkbox input[type="checkbox"]:checked ~ .m-checkbox--check {
  animation: choose 7000ms ease forwards;
}

.m-dishes--checkbox input[type="checkbox"]:checked ~ .m-checkbox--check::after {
  /* opacity: 1;
  transform: rotate(45deg); */
}
