.m--header-title {
  text-align: center;
  z-index: 10;
}

.m--header-title__span {
  color: lightgoldenrodyellow;
  font-size: 2rem;
  opacity: 0.5;
}

.m--header-title__sub {
  font-family: serif;
  font-size: 1rem;
  opacity: 0.5;
}
