.l-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  grid-template-areas:
    "header header main main main main main main"
    "header header main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "footer footer footer footer footer footer footer footer";
  width: 100%;
}

.l-header {
  grid-area: header;
}

.l-main {
  background-color: red;
  grid-area: main;
  overflow: scroll;
}

.l-aside {
  background-color: blue;
  grid-area: aside;
}

.l-footer {
  background-color: yellow;
  grid-area: footer;
}
