.l-container {
  /* animation: resize 3000ms ease infinite both; */
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  grid-template-areas:
    "header header main main main main main main"
    "header header main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "aside aside main main main main main main"
    "footer footer footer footer footer footer footer footer";
  width: 100%;
}

.l-header {
  animation: resize 3000ms ease infinite both;
  display: inline-grid;
  grid-area: header;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 1fr 2fr 3fr;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.l-main {
  grid-area: main;
}

.l-aside {
  background-color: blue;
  grid-area: aside;
}

.l-footer {
  background-color: yellow;
  grid-area: footer;
}
