.l-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.l-main-section {
  padding: 4rem;
  width: 50%;
}

.l-main-section > header {
  padding: 0rem 2rem 4rem;
  text-align: center;
}
