#header {
  overflow: hidden;
  position: relative;
}

.s--sunny {
  background-image: linear-gradient(
    to bottom,
    #f3c552,
    #f8bd55,
    #fbb558,
    #fead5d,
    #ffa662,
    #fea460,
    #fea15f,
    #fd9f5d,
    #fba154,
    #f8a24a,
    #f4a541,
    #f0a736
  );
}

.s--shape {
  animation: rotate-shape 10000ms infinite linear;
  background-image: linear-gradient(
    to bottom,
    #fee5df,
    #ffe4dd,
    #ffe4da,
    #ffe3d8,
    #ffe3d5,
    #ffe3d2,
    #ffe2cf,
    #ffe2cc,
    #ffe2c7,
    #ffe2c2,
    #ffe2bd,
    #fee3b8
  );
  border-radius: 50%;
  height: 1500px;
  position: absolute;
  opacity: 0.25;
  top: 60%;
  width: 1500px;
}

.s--shape-two {
  background-image: linear-gradient(
    to bottom,
    #f3c552,
    #f8bd55,
    #fbb558,
    #fead5d,
    #ffa662,
    #fea460,
    #fea15f,
    #fd9f5d,
    #fba154,
    #f8a24a,
    #f4a541,
    #f0a736
  );
  border-radius: 48%;
  left: -40%;
  opacity: 0.75;
}

.s--shape-three {
  background-image: linear-gradient(
    to bottom,
    #f3c552,
    #f8bd55,
    #fbb558,
    #fead5d,
    #ffa662,
    #fea460,
    #fea15f,
    #fd9f5d,
    #fba154,
    #f8a24a,
    #f4a541,
    #f0a736
  );
  border-radius: 45%;
  left: -40%;
  opacity: 0.5;
}

.s--shape-four {
  border-radius: 43%;
  left: -45%;
}
