* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button,
input,
textarea {
  background: none;
  border: 0;
  outline: none;
}

button:active,
input:active,
textarea:active,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
