/* ribeye marrow */
@import url("https://fonts.googleapis.com/css?family=Kumar+One+Outline");

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kumar One Outline", cursive;
  text-transform: capitalize;
}
